# Linear Regression Model 1

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import seaborn as sns
sns.set()

In [3]:
data=pd.read_excel("Linear Regression.xlsx")
data.head(10)

     price  sqft_living  bedrooms  bathrooms  floors
0   221900         1180         3       1.00     1.0
1   538000         2570         3       2.25     2.0
2   180000          770         2       1.00     1.0
3   604000         1960         4       3.00     1.0
4   510000         1680         3       2.00     1.0
5  1225000         5420         4       4.50     1.0
6   257500         1715         3       2.25     2.0
7   291850         1060         3       1.50     1.0
8   229500         1780         3       1.00     1.0
9   323000         1890         3       2.50     2.0

In [4]:
x=data.iloc[:,1:]
y=data.iloc[:,0:1]

In [6]:
x.head()
#y.head()

   sqft_living  bedrooms  bathrooms  floors
0         1180         3       1.00     1.0
1         2570         3       2.25     2.0
2          770         2       1.00     1.0
3         1960         4       3.00     1.0
4         1680         3       2.00     1.0

In [9]:
data.isna().sum()

price          0
sqft_living    0
bedrooms       0
bathrooms      0
floors         0
dtype: int64

In [10]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
price,21613.0,540088.141905,367127.195968,75000.0,321950.00,450000.00,645000.0,7700000.0
sqft_living,21613.0,2079.899736,918.440897,290.0,1427.00,1910.00,2550.0,13540.0
bedrooms,21613.0,3.370842,0.930062,0.0,3.00,3.00,4.0,33.0
bathrooms,21613.0,2.114757,0.770163,0.0,1.75,2.25,2.5,8.0
floors,21613.0,1.494309,0.539989,1.0,1.00,1.50,2.0,3.5

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [16]:
data=sc.fit_transform(data)

In [17]:
data

array([[-0.86671733, -0.97983502, -0.39873715, -1.44746357, -0.915427  ],
       [-0.00568792,  0.53363434, -0.39873715,  0.1756067 ,  0.93650577],
       [-0.98084935, -1.42625404, -1.47395936, -1.44746357, -0.915427  ],
       ...,
       [-0.37586519, -1.15404732, -1.47395936, -1.77207762,  0.93650577],
       [-0.38158814, -0.52252773, -0.39873715,  0.50022075,  0.93650577],
       [-0.58588173, -1.15404732, -1.47395936, -1.77207762,  0.93650577]])

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=2)

In [19]:
data.shape

(21613, 5)

In [20]:
mul_reg=LinearRegression()

In [21]:
mul_reg

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
mul_reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
ypred=mul_reg.predict(x_test)

In [31]:
from sklearn.metrics import r2_score,mean_squared_error
print("the R-square.....",r2_score(y_test,ypred))
print("RMSE value is....",np.sqrt(mean_squared_error(y_test,ypred)))

the R-square..... 0.5166693554435362
RMSE value is.... 259763.19584802483