# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.

Output Format:

Print the company name in single line.

Example;

Input:

john@google.com

Output:

google

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:

The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:
Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [16]:
x = input("Input comma separated sequence of words")
y = [y for y in items.split(",")]
print(",".join(sorted(list(set(y)))))

Input comma separated sequence of wordsrohit,sham,aa
aman,baba,rohit


# Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

## Set Methods
__Python has a set of built-in methods that you can use on sets.__

__Method	Description__

__add()__	_Adds an element to the set_

__clear()__	_Removes all the elements from the set_

__copy()__	 _Returns a copy of the set_

__difference()__	Returns a set containing the difference between two or more sets

__difference_update()__	Removes the items in this set that are also included in another, specified set

__discard()__	Remove the specified item

__intersection()__	Returns a set, that is the intersection of two other sets

__intersection_update()__	Removes the items in this set that are not present in other, specified set(s)

__isdisjoint()__	Returns whether two sets have a intersection or not

__issubset()__	Returns whether another set contains this set or not

__issuperset()__	Returns whether this set contains another set or not

__pop()__	Removes an element from the set

__remove()__	Removes the specified element

__symmetric_difference()__	Returns a set with the symmetric differences of two sets

__symmetric_difference_update()__	inserts the symmetric differences from this set and another

___union()__	Return a set containing the union of sets

__update()__	Update the set with the union of this set and others

# Question 4:

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

Example:
Input:1 2 4 6 3 7 8

Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [22]:
def noo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total - sum_of_A 
  
A = [1, 2, 3, 4, 5, 6, 8] 
miss = int(noo(A)) 
print(miss)

7

# Question 5:

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be
12 24 35 88 120 155

Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:
Input: 12 24 35 24

Output:12 24 35

In [24]:
def Rem(dup): 
    final_list = [] 
    for num in dup: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
dup = [1,1,2,2,3,3,4,4,4,5,5,5] 
print(Rem(dup))

[1, 2, 3, 4, 5]